@import "tailwindcss";
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* Internet Explorer & old Edge */
body {
  -ms-overflow-style: none;
}